<html>
<head>
<title>About Gameki</title>
</head>
<body>
<h1>About Gameki</h1>

<p>Gameki by Xavid Pretzer.

<p>Incorporates Etherpad Lite, copyright the Etherpad Foundation.
Used under the <a href="https://raw.githubusercontent.com/ether/etherpad-lite/develop/LICENSE">Apache License</a>.

<p>Incorporates GameTeX, copyright Ken Clary and the MIT Assassins' Guild.
Used under the following license:

<pre>Copyright (c) Ken Clary and the MIT Assassins' Guild.

You may use, copy, and/or modify this software for any purpose with or
without fee, provided that the above copyright notice and this
permission notice appear in all copies.  You may not distribute
modifications of this software, in whole or in part, under its
original name, or otherwise cause version splintering.</pre>

<p>Uses <a href="http://fontawesome.io">Font Awesome</a> by Dave Gandy.</p>

</body>
</html>